#site_main {
  background-color: #bb3950;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-select {
  height: calc(1.5em + 0.75rem + 2px);
  background-color: white;
}

#dati_passeggero label {
  color: #bb3950;
}

#selection select {
  display: flex;
  align-content: center;
}

.validazione .btn {
  background-color: rgba(204, 204, 204, 1);
  color: #bb3950;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0 10px;
}
